/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/assets/css/custom-card.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.custom-card-container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/assets/css/animated-sidebar.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.enter-left {
  right: 0;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  opacity: 1;
}

.enter-right {
  left: 0;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  opacity: 1;
}

.exit-left {
  right: 100%;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  opacity: 0;
  /* display: none; */
}

.exit-right {
  left: 100%;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  opacity: 0;
  /* display: none; */
}

